@import "tailwindcss";
@tailwind utilities;

.skeleton {
  background-color: #ccd1d959;
  border-radius: 8px;
}

.custom-gradient-claim {
  background: linear-gradient(
    239.71deg,
    #fa7c55 14.07%,
    #f75a49 24.97%,
    #f22136 44.84%,
    #f00b2e 54.41%,
    #c3001c 83.4%
  );
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Telkomsel Batik Sans";
  src: url("/fonts/TelkomselBatikSans-Regular.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Telkomsel Batik Sans";
  src: url("/fonts/TelkomselBatikSans-Bold.woff2");
  font-weight: 700;
}

.swal2-container {
  padding: 0 !important;
  border-radius: 0 !important;
}

.swal2-html-container {
  padding: 0 !important;
}

.swal2-show {
  animation: none;
}

.swal2-popup {
  display: flex;
  justify-items: center;
  align-items: end;
  height: 100dvh;
  width: 412px;
  padding: 0 !important;
  background-color: transparent;
  border-radius: 0 !important;
}

.tsel-font {
  font-family: "Telkomsel Batik Sans";
}

.poppins-font {
  font-family: "Poppins";
}

.detail-polis-responsive {
  top: 112px;
}

/* @media (min-width: 412px) {
  .swal2-popup {
    width: 100%;
  }
} */

button {
  cursor: pointer;
}

.hidden-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

body {
  color: #181c21 !important;
  font-family: "Poppins";
}
